.Bar {
  width: 100%;
  padding: 30px;
  margin: 0;
  box-sizing: border-box;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Dictionize {
  font-size: 50px;
  margin: 0;
}

.SearchBox {
  align-items: center;
  margin: 0;
}

.Input {
  width: 350px;
  border-radius: 5px;
  margin-right: 20px;
  padding: 0.5em;
  font-size: 16px;
  background-color: #333;
}

.Button {
  border-radius: 5px;
  background-color: #333;
  padding: 0.5em;
  color: #fff;
  font-size: 16px;
  border-color: none;
}

.Button:hover {
  border-radius: 5px;
  background-color: #555;
  padding: 0.5em;
  border-color: none;
}

@media screen and (max-width: 840px) {
  .Bar {
    padding: 0px;
  }

  .SearchBox {
    margin: 0px;
    padding: 0px;
    margin-right: 10px;

  }

  .Dictionize {
    font-size: 23px;
    margin: 25px;
  }

  .Input {
    width: 150px;
    font-size: 16px;
    padding: 0.1rem;
  }

  .Button {
    padding: 0.5em;
    font-size: 10px;
    border-color: none;
  }
}