.LoadingSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 55px;
}

.Spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3b82f6; /* Cor do spinner */
  border-radius: 50%;
  width: 50px; /* Tamanho do spinner */
  height: 50px; /* Tamanho do spinner */
  animation: spin 1s ease-in-out infinite; /* Animação de rotação */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 840px) {
  .LoadingSpinner{
    margin: 30px;
  }

  .Spinner{
    width: 50x;
    height: 50px;
  }

}