*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "sans-serif";
  color: #a3a3a3; 
}

p{
  font-size: 20px;  
}

body{
  background: linear-gradient(180deg,#04092e 20%,  #00031a 80%);
  padding-bottom: 300px;
}

p, h1, h3{
  text-align: center;
}

h3{
  margin:40px;

}

h1, h2{
  color: white;
}

h2{
  margin: 20px;
}



a{
  color: #3669e0;
}