*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  color: #c4c4c4; 
  text-align: justify;
}



body{
  background: linear-gradient(180deg,#084799 20%,  #000 80%);
  padding-bottom: 300px;
}

p, h1, h3{
  text-align: center;
}

h3{
  margin:40px;

}

h1, h2{
  color: white;
}

h2{
  margin: 20px;
}



a{
 font-style: none;
}



